body {
  background-color: #18171d;
}
.mr {
  position: absolute;
  top: 25%;
  left: 30%;
  transform: translate(-30%, -25%);
  width: 200px;
  height: 319px;
}
.man {
  position: absolute;
  box-shadow: -3px -3px 0px 3px #FFFDE0, 0px 0px 0px 7px #7F7E68;
  top: 0px;
  left: 0px;
  z-index: -5;
}
.mouth {
  position: absolute;
  top: 0px;
  left: 0px;
}
.instruct {
  width: 200px;
  /* width: 1px; */
  color: white;
  height: 505px;
  position: absolute;
  top: 40%;
  left: 10%;
  transform: translate(-10%, -40%);
}
.area {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 25%;
  left: 75%;
  transform: translate(-75%, -25%);
}
textarea {
  appearance: none;
  box-shadow: -3px -3px 0px 2px #7F7E68, 0px 0px 0px 5px #DACEB8;
  background-color: white;
  margin: 2vh 2vw 2vh 2vw;
  width: 500px;
  height: 300px;
}
button {
  box-shadow: -2px -2px 0px 1px #7F7E68, -1px -1px 0px 2px #DACEB8;
  background-color: #fffde0;
  margin: 2vh 2vw 2vh 2vw;
  width: 100px;
  height: 45px;
  cursor: pointer;
  align-self: center;
}
.kw {
  position: absolute;
  left: 55%;
  top: 60%;
}
.tellkw {
  z-index: 2;
  height: 100px;
  position: absolute;
  top: 2.4rem;
  left: 3rem;
}
.key {
  height: 100px;
  position: absolute;
  top: 0px;
  left: 0px;
}
